<div id="wrapper">
  <div id="content">
    <div class="panel" id="status">
      <div class="status-message">
            <% @posts.each do |p| %>
              <%= post_body_to_html p %><br />
            <% end %>
        <%= page_entries_info @posts %>
        <%= will_paginate @posts %>
      </div>
    </div>
    <div class="panel" id="status">
      <div class="status-led">
        <ol class="led-list">
          <li class="grey-status">App status</li>
        </ol>
      </div>
      <table class="error-table">
        <tr>
          <th>What</th>
          <th>When</th>
          <th>Description</th>
          <th></th>
        </tr>
        <% @frequent_errors.each do |error| %>
            <tr>
              <td><%= error.error_class %></td>
              <td><%= time_ago_in_words error.most_recent_notice_at.to_time %> ago</td>
              <td><%= t(error.error_class.underscore.gsub('/', '.')) %></td>
              <td><%= t("urls.#{error.controller}.general_message") -%> <%= t("urls.#{error.controller}.#{error.action}") %></td>
            </tr>
        <% end %>
      </table>
    </div>
    <iframe src="https://rpm.newrelic.com/public/charts/9uY3CIu8Mxo" width="500" height="300" scrolling="no" frameborder="no"></iframe>
  </div>
</div>
